 

 $maincolor-50:#ecfdf0;
 $maincolor-100:#d1fad9;
 $maincolor-200:#a7f3ba;
 $maincolor-300:#6ee795;
 $maincolor-400:#33d46b;
 $maincolor-500:#0fba50;
 $maincolor-600:#04973f;
 $maincolor-700:#047836;
 $maincolor-800:#065f2d;
 $maincolor-900:#064e27;
 $maincolor-950:#01180c;

